.App {
  text-align: center;
}

nav {
  margin-bottom: 10px;
}

.ApiKey {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.ApiKey:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.ApiKey::placeholder {
  color: #999;
}

.qiitaCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.qiitaCardLink {
  text-decoration: none;
  color: inherit;
}

.qiitaCard {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 5px 37px -14px #141514;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.qiitaCard:hover {
  transform: translateY(-5px);
}

.qiitaCard:active {
  transform: scale(0.95);
}

.qiitaCard h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.qiitaCard p {
  margin-bottom: 0.5rem;
}



